* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.nav {
    width: 100%;
    background-color: green;
    position: fixed;
    box-shadow: 0 2px 10px #333;
}

.navcon {
    font-size: xx-large;
    font-weight: lighter;
    padding: 5px;  
}

a {
    color: white;
    text-decoration: none; 
}

.judul {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.img1 {
    width: 100px;
    margin: 0 10px 10px;
    float: left;
}

.img2 {
    width: 100%;
}

.img3 {
    width: 100px;
    margin: 0 10px 10px;
    float: right;

}

.bagian1 {
    margin: 50px auto;
}

.bagian2 {
    margin: 0 0 50px;
}

.bagian3 {
    margin: 0 0 50px;
}

.bagian2 p, .bagian3 p, h3 {
    margin: 0 0 0 10px;
}

h3 {
    display: flex;
    justify-content: center;
}

.foot {
    display: flex;
    margin: 30px 0 0;
    background-color:green;
    padding: 5px;
    justify-content: center;
    flex-direction: column;
}

.sosial {
    align-self: center;
    margin: 5px 0 0;
}

.sosial a {
    margin: 10px;
}

.link {
    margin: 1px;
    display: flex;
    justify-content: center;
    font-size: small;
}

.link a {
margin: 2% 3%;
}

.copy {
    align-self: center;
    margin: 3px;
}

.copy p {
    color: white;
    font-size: smaller;
}

.foot a {
    text-decoration: none;
}




.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}