* {
    margin: 0;
    font-family: 'OpenSans';
}

@font-face {
    font-family: 'OpenSans';
    src: url('font/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
}



/* Tag */
a {
    color: white;
    text-decoration: none; 
}

img {
    width: 150px;
    border: 1px solid #333;
}
/* Tag End */
/* Navbar */
.nav {
    display: flex;
    background-color: green;
    margin: 0;
    padding: 5px;
    justify-content: center;
}

.navcon {
    margin: 5px 25px;
    padding: 10px;  
}

.nav .kebun {
    color: #29D655;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 0 2px 1px black;
}
.nav .ku {
    color: #D65529;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 0 2px 1px black;
}

.search-container {
    text-align: right;
}

.search-container form {
    display: inline-block;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.search-container .cari {
    padding: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-color: #333;
    color: white;
}

.search-container .cari:hover {
    background-color: #555;
}

.menu {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 0 5px 15px;
}

.navbar {
    max-height: 0;
    display: flex;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: green;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
/* Navbar End */
/* Content */
.img {
    width: 100%;
    opacity: 0.8;
}

.intro {
    background-image: url(img/latar4.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
    padding: 0 0 250px;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: larger;
}

.isi {
    padding: 20px 0 100px;
}

.learn p {
    display: inline;
    color: #29D655;
    padding: 15px;
    border: 3px solid #29D655;
    font-size: small;
}

.judul {
    display: flex;
    margin: 10px auto 20px;
    justify-content: center;
}

.judul2 {
    display: flex;
    margin: 50px auto;
    justify-content: center;
}

.judul3 {
    display: flex;
    justify-content: end;
}

.peringkat {
    display: flex;
    justify-content: center;
    height: 200px;
}

.card1 {
    background-color: gray;
    width: 150px;
    text-align: center;
    padding: 5px;
    border: 3px solid #333;
    border-radius: 3px;
    align-self: center;
    margin: 0 2px;
}
.card2 {
    background-color: gray;
    width: 150px;
    text-align: center;
    padding: 5px;
    border: 3px solid #333;
    border-radius: 3px;
    align-self: flex-start;
    margin: 0 5px; 
}
.card3 {
    background-color: gray;
    width: 150px;
    text-align: center;
    padding: 5px;
    border: 3px solid #333;
    border-radius: 3px;
    align-self: flex-end;
    margin: 0 2px;
}

.lanjutan {
    margin: 0 10px;
}

.no1 {
    margin: 10px 0;
}
.no2 {
    margin: 100px 0;
}
.no3 {
    margin: 10px 0 100px;
}

.button {
    border: 5px solid #333;
    text-align: center;
}

.img1{
    float: right;
    margin: 0 0 9 5px;
}
.img2{
    float: left;
    margin: 0 20px 0 0;
}
/* Content End*/
/* Footer */
.foot {
    display: flex;
    margin: 300px 0 0;
    background-color:green;
    padding: 5px;
    justify-content: center;
    flex-direction: column;
}

.sosial {
    align-self: center;
    margin: 5px 0 0;
}

.sosial a {
    margin: 10px;
}

.link {
    align-self: center;
    margin: 1px;
}

.link a {
    margin: 15px;
}

.copy {
    align-self: center;
    margin: 3px;
}

.copy p {
    color: white;
    font-size: smaller;
}

.foot a {
    text-decoration: none;
}
/* Footer End*/



















.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}