* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



table {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-collapse: collapse;
    width: 80%;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px; 
}

table th {
    background-color: #f2f2f2; 
    text-align: left; 
}


.button {
    background-color: gray;
    width: 40px;
    margin: 5px;
    padding: 2px;
    border: 1px solid #333;
    border-radius: 2px;
    display: inline;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}


